- filtrar somente as escolas de interesse (particular, nao confessiona e em atividade)
- remover escolas com menos de 20 alunos no total (pegar as associadas e confirmar esse numero minimo)

ALERTA: Algumas escolas nao possuem nenhum numero de alunos preenchido, e entao foram eliminadas. (Avisar)

In [1]:
import pandas as pd


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_seq_items', None)

In [2]:
df_raw = pd.read_csv("../dados/temporarios/01-md_edb_colunas.csv")

df_raw.shape

# 215 mil escolas

(215545, 25)

In [3]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215545 entries, 0 to 215544
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   CO_ENTIDADE                  215545 non-null  int64
 1   TP_DEPENDENCIA               215545 non-null  int64
 2   TP_CATEGORIA_ESCOLA_PRIVADA  43218 non-null   float64
 3   CO_CEP                       215545 non-null  int64
 4   TP_SITUACAO_FUNCIONAMENTO    215545 non-null  int64
 5   QT_SALAS_UTILIZADAS          181065 non-null  float64
 6   IN_EXAME_SELECAO             181065 non-null  float64
 7   IN_MEDIACAO_PRESENCIAL       181065 non-null  float64
 8   QT_MAT_INF                   179286 non-null  float64
 9   QT_MAT_FUND_AI               179286 non-null  float64
 10  QT_MAT_FUND_AF               179286 non-null  float64
 11  QT_MAT_MED                   179286 non-null  float64
 12  infraestrutura               215545 non-null  int64
 13  estrutura_pobre              215545 non-null  int64
 14  estrutura_basica             215545 non-null  int64
 15  estrutura_padrao             215545 non-null  int64
 16  estrutura_premium            215545 non-null  int64
 17  qt_ativos_basico             215545 non-null  int64
 18  qt_ativos_premium            215545 non-null  int64
 19  pessoal_basico               215545 non-null  int64
 20  pessoal_padrao               215545 non-null  int64
 21  pessoal_premium              215545 non-null  int64
 22  qt_alunos                    215545 non-null  int64
 23  qt_professores               215545 non-null  int64
 24  tipo_ocupacao                215545 non-null  float64
dtypes: float64(9), int64(16)
memory usage: 41.1 MB

In [4]:
df = df_raw[df_raw["TP_DEPENDENCIA"] == 4]  # Mantem escolas particulares, reduz para 52_568
df = df[(df["TP_CATEGORIA_ESCOLA_PRIVADA"] != 3)]  # Remove escolas particulares confessionais, reduz para 52_101
df = df[(df["TP_SITUACAO_FUNCIONAMENTO"] == 1)]  # Mantem escolas em atividade, reduz para 42_751
df = df[df["IN_MEDIACAO_PRESENCIAL"] == 1]  # Remove escolas que nao tem aula presencial, reduz para 42_470

df = df.drop(columns=["TP_DEPENDENCIA", "TP_CATEGORIA_ESCOLA_PRIVADA", "TP_SITUACAO_FUNCIONAMENTO", "IN_MEDIACAO_PRESENCIAL"])


df = df[df["qt_alunos"] > 20] # Remove escolas com menos de 20 alunos, reduz para 37_178


df.shape

(37178, 21)

In [5]:
df.head()

,CO_ENTIDADE,CO_CEP,QT_SALAS_UTILIZADAS,IN_EXAME_SELECAO,QT_MAT_INF,QT_MAT_FUND_AI,QT_MAT_FUND_AF,QT_MAT_MED,infraestrutura,estrutura_pobre,estrutura_basica,estrutura_padrao,estrutura_premium,qt_ativos_basico,qt_ativos_premium,pessoal_basico,pessoal_padrao,pessoal_premium,qt_alunos,qt_professores,tipo_ocupacao
34,11006765,76870450,12.0,0.0,113.0,236.0,148.0,0.0,2,0,2,2,2,19,1,7,2,0,497,32,3.0
40,11007028,76870692,7.0,0.0,309.0,0.0,0.0,0.0,2,0,1,1,1,3,2,7,2,0,309,9,3.0
53,11007656,76870505,25.0,0.0,113.0,216.0,158.0,158.0,2,0,4,4,4,40,8,16,8,2,645,44,3.0
70,11044454,76872856,7.0,0.0,308.0,0.0,0.0,0.0,2,1,3,2,2,8,0,9,22,2,308,9,3.0
71,11044462,76874166,27.0,0.0,178.0,343.0,285.0,0.0,2,0,3,2,1,20,0,11,5,5,806,40,3.0

In [6]:
df.to_csv("../dados/temporarios/02-md_edb_limpo.csv", index=False)

In [7]:
df.head(20)

,CO_ENTIDADE,CO_CEP,QT_SALAS_UTILIZADAS,IN_EXAME_SELECAO,QT_MAT_INF,QT_MAT_FUND_AI,QT_MAT_FUND_AF,QT_MAT_MED,infraestrutura,estrutura_pobre,estrutura_basica,estrutura_padrao,estrutura_premium,qt_ativos_basico,qt_ativos_premium,pessoal_basico,pessoal_padrao,pessoal_premium,qt_alunos,qt_professores,tipo_ocupacao
34,11006765,76870450,12.0,0.0,113.0,236.0,148.0,0.0,2,0,2,2,2,19,1,7,2,0,497,32,3.0
40,11007028,76870692,7.0,0.0,309.0,0.0,0.0,0.0,2,0,1,1,1,3,2,7,2,0,309,9,3.0
53,11007656,76870505,25.0,0.0,113.0,216.0,158.0,158.0,2,0,4,4,4,40,8,16,8,2,645,44,3.0
70,11044454,76872856,7.0,0.0,308.0,0.0,0.0,0.0,2,1,3,2,2,8,0,9,22,2,308,9,3.0
71,11044462,76874166,27.0,0.0,178.0,343.0,285.0,0.0,2,0,3,2,1,20,0,11,5,5,806,40,3.0
79,11049910,76873524,14.0,0.0,143.0,142.0,63.0,6.0,2,0,1,2,0,6,4,10,3,0,354,35,1.0
83,11050950,76872847,13.0,0.0,78.0,80.0,47.0,54.0,3,1,1,1,0,4,8,9,33,0,259,42,1.0
86,11051248,76877192,6.0,1.0,59.0,0.0,0.0,0.0,2,0,4,3,2,11,0,12,5,0,59,6,3.0
100,11025670,76960970,14.0,1.0,0.0,123.0,144.0,143.0,3,0,4,3,2,89,67,12,5,1,410,27,2.0
126,11027290,76961890,13.0,1.0,56.0,343.0,269.0,243.0,3,0,5,3,3,85,51,25,16,6,911,50,3.0
130,11027355,76963970,6.0,0.0,0.0,0.0,27.0,109.0,1,1,3,3,3,40,5,7,6,6,136,17,3.0
131,11027363,76965786,23.0,0.0,37.0,0.0,0.0,0.0,3,1,4,2,4,20,35,14,15,5,37,2,3.0
146,11048603,76963784,7.0,0.0,144.0,0.0,0.0,0.0,3,0,3,2,1,2,0,3,3,1,144,6,1.0
150,11049723,76963678,17.0,0.0,63.0,101.0,88.0,75.0,3,0,4,3,7,88918,112,15,6,3,327,40,3.0
151,11050373,76963802,23.0,0.0,84.0,199.0,129.0,67.0,3,0,4,3,1,21,11,11,6,1,479,36,3.0
152,11050560,76962118,8.0,0.0,133.0,0.0,0.0,0.0,2,0,3,2,3,4,0,5,1,1,133,4,3.0
160,11058811,76966194,12.0,0.0,59.0,21.0,0.0,0.0,3,0,2,3,4,11,18,5,2,2,80,10,3.0
176,11037075,76997000,13.0,0.0,18.0,65.0,59.0,6.0,2,0,2,1,0,44,21,4,3,0,148,34,1.0
180,11050934,76997000,3.0,0.0,0.0,0.0,0.0,38.0,1,1,5,2,2,12,2,5,4,2,38,13,3.0
186,11035269,76993000,7.0,0.0,21.0,38.0,0.0,0.0,2,0,3,2,1,10,2,4,5,0,59,8,3.0

In [8]:
# TODO trocar essa ordem alugado < cedido < proprio
# TP_OCUPACAO_PREDIO_ESCOLAR 1 proprio, 2 alugado, 3 cedido