Le o arquivo excel, e gera um csv com: nome, lat, lng  
Salva no BD

In [1]:
import sys
sys.path.append("..")

from utils.busca_ceps import cep_to_coords
import pandas as pd
import json

In [2]:
df_raw = pd.read_excel("../dados/inputs/local_consultores.xlsx",
                       usecols=["Consultor", "CEP"])

df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Consultor  27 non-null     object
 1   CEP        24 non-null     object
dtypes: object(2)
memory usage: 564.0+ bytes

In [3]:
df = df_raw.dropna().copy()

df["CEP"] = df["CEP"].str.replace("-", "")

In [4]:

df_consultor_coords = await cep_to_coords(df, "CEP")
df_consultor_coords.head()

Temos 24 CEPs diferentes a consultar
Nao foi necessario baixar novas coods

           Consultor       lat       lng
0     Arthur Lincoln -22.96851 -43.18552
1        Ana Claudia -23.21074 -45.85701
2       Elina Maciel -22.87912 -47.03464
3  Galdino Espindola -22.91447 -43.05093
4       Niedna Leite -23.59439 -46.61307

In [5]:
df_consultor_coords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Consultor  24 non-null     object
 1   lat        24 non-null     float64
 2   lng        24 non-null     float64
dtypes: float64(2), object(1)
memory usage: 708.0+ bytes

In [6]:
df_consultor_coords.to_csv("../dados/temporarios/consultor_coords.csv", index=False)