In [1]:
import os, re, pulp, json, time
os.environ["GRB_LICENSE_FILE"] = "/Users/gabrielaidar/Desktop/Mestrado/outros/documentos/gurobi.lic"

import pandas as pd
from collections import defaultdict
from datetime import date, datetime

In [2]:
DADOS_PATH = "../dados/"
COBERTURA = 0.9  # Quanto das escolas será alocado

data_hora = datetime.now().strftime("%Y%m%d_%H%M%S")

nome_arquivo_resultado = f"{DADOS_PATH}resultados/{data_hora}_resultado.json"
nome_arquivo_log = f"{DADOS_PATH}resultados/{data_hora}_log.txt"

In [4]:
df = pd.read_csv(f"{DADOS_PATH}temporarios_old/03-pronto_po.csv",
                 index_col="CO_ENTIDADE")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37178 entries, 11006765 to 53086007
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   motivacao           37178 non-null  int64
 1   Arthur Lincoln      37178 non-null  int64
 2   Ana Claudia         37178 non-null  int64
 3   Elina Maciel        37178 non-null  int64
 4   Galdino Espindola   37178 non-null  int64
 5   Niedna Leite        37178 non-null  int64
 6   Ricardo Ricato      37178 non-null  int64
 7   Thiago Souza        37178 non-null  int64
 8   Eulanda Costa       37178 non-null  int64
 9   Lis Lucio           37178 non-null  int64
 10  Rafaelle Magalhães  37178 non-null  int64
 11  Flavio Paim         37178 non-null  int64
 12  Adriana Mota        37178 non-null  int64
 13  Reginaldo Machado   37178 non-null  int64
 14  Tizziana Dias       37178 non-null  int64
 15  Marcelo Trinta      37178 non-null  int64
 16  Fabricio Salomao    37178 non-null  int64
 17  Hellison Muraro     37178 non-null  int64
 18  Ricardo Melo        37178 non-null  int64
 19  Marcelo Zanola      37178 non-null  int64
 20  Luiz Esquincalha    37178 non-null  int64
 21  Ronaldo Araripe     37178 non-null  int64
 22  Florisvaldo Santos  37178 non-null  int64
 23  José Alencar        37178 non-null  int64
 24  Jefferson Sanches   37178 non-null  int64
dtypes: int64(25)
memory usage: 7.4 MB

In [5]:

# --- MODELO ---
modelo = pulp.LpProblem("Poliedro", pulp.LpMinimize)

# --- DADOS ---
distancias = df.drop(columns="motivacao")
motivacao = df["motivacao"]
consultores = distancias.columns.to_list()
escolas = df.index.tolist()
mm = sum(motivacao)/len(consultores)


# --- VARIÁVEL ---
x = pulp.LpVariable.dicts("x", [(i, j) for i in escolas for j in consultores],
                          lowBound=0, cat="Binary")


# --- FUNÇÃO OBJETIVO ---
modelo += pulp.lpSum(distancias.loc[i, j] * x[(i, j)]
                    for i in escolas
                    for j in consultores)


# --- RESTRIÇÕES ---
for i in escolas:  # Cada escola é atribuida a apenas um consultor
    modelo += pulp.lpSum(x[(i, j)] for j in consultores) == 1
for j in consultores:
    modelo += pulp.lpSum(x[(i, j)]*motivacao[i] for i in escolas) >= COBERTURA * mm


# --- SOLUÇÃO ---
modelo.solve(pulp.GUROBI(
                    logPath=nome_arquivo_log,
                    # gapRel=0.01,
                    timeLimit=60,
                    ))


# # --- RESULTADOS ---
# print("\n--------- RESULTADOS ---------")
# print(f"Valor FO = {modelo.objective.value():.0f}")

Set parameter Username
Set parameter LicenseID to value 2635692
Academic license - for non-commercial use only - expires 2026-03-12
Set parameter TimeLimit to value 60
Set parameter LogFile to value "../dados/resultados/20251211_171001_log.txt"
Gurobi Optimizer version 12.0.3 build v12.0.3rc0 (mac64[arm] - Darwin 25.1.0 25B78)

CPU model: Apple M1
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads

Non-default parameters:
TimeLimit  60

Optimize a model with 37202 rows, 892272 columns and 1784544 nonzeros
Model fingerprint: 0x7ef123e2
Variable types: 0 continuous, 892272 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 2e+04]
  Objective range  [1e+00, 4e+03]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 3e+06]
Found heuristic solution: objective 4.762938e+07
Presolve time: 2.48s
Presolved: 37202 rows, 892272 columns, 1784544 nonzeros
Variable types: 0 continuous, 892272 integer (892272 binary)
Deterministic concurrent LP optimizer: primal simplex, dual simplex, and barrier
Showing barrier log only...

Root barrier log...

Ordering time: 0.05s

Barrier statistics:
 AA' NZ     : 8.923e+05
 Factor NZ  : 1.357e+06 (roughly 400 MB of memory)
 Factor Ops : 5.133e+07 (less than 1 second per iteration)
 Threads    : 6

                  Objective                Residual
Iter       Primal          Dual         Primal    Dual     Compl     Time
   0   4.21825732e+09  0.00000000e+00  1.18e+06 0.00e+00  3.65e+03     4s
   1   3.55919367e+09 -5.72856845e+07  1.01e+06 8.53e-14  3.38e+03     4s
   2   3.59419822e+07 -5.03261300e+07  5.39e-09 5.68e-14  4.83e+01     5s
   3   2.56029818e+07 -9.23014593e+06  3.27e-10 5.68e-14  1.95e+01     5s
   4   1.44326094e+07  2.58635933e+06  6.15e-10 5.68e-14  6.64e+00     5s
   5   1.16994037e+07  5.03030700e+06  4.44e-10 5.68e-14  3.74e+00     5s
   6   1.12824143e+07  5.99088493e+06  3.17e-10 5.68e-14  2.97e+00     5s
   7   1.06605060e+07  6.24808465e+06  4.66e-10 5.68e-14  2.47e+00     5s
   8   7.49719916e+06  6.46213784e+06  4.56e-09 5.68e-14  5.80e-01     5s
   9   7.19333244e+06  6.61662280e+06  4.41e-09 5.68e-14  3.23e-01     6s
  10   6.99741525e+06  6.68757496e+06  8.66e-09 5.68e-14  1.74e-01     6s

Barrier performed 10 iterations in 5.61 seconds (5.17 work units)
Barrier solve interrupted - model solved by another algorithm

Concurrent spin time: 0.13s

Solved with dual simplex

Root simplex log...

Iteration    Objective       Primal Inf.    Dual Inf.      Time
    4738    6.7600797e+06   0.000000e+00   0.000000e+00      6s

Root relaxation: objective 6.760080e+06, 4738 iterations, 2.77 seconds (2.09 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 6760079.67    0   34 4.7629e+07 6760079.67  85.8%     -    6s
H    0     0                    6765066.0000 6760079.67  0.07%     -    7s
H    0     0                    6764981.0000 6760079.67  0.07%     -    7s
H    0     0                    6764296.0000 6760079.67  0.06%     -    7s
H    0     0                    6764275.0000 6760079.67  0.06%     -    7s
H    0     0                    6764227.0000 6760079.67  0.06%     -    7s
H    0     0                    6763819.0000 6760079.67  0.06%     -   12s
H    0     0                    6760710.0000 6760079.67  0.01%     -   14s

Explored 1 nodes (4761 simplex iterations) in 14.05 seconds (9.54 work units)
Thread count was 8 (of 8 available processors)

Solution count 8: 6.76071e+06 6.76382e+06 6.76423e+06 ... 4.76294e+07

Optimal solution found (tolerance 1.00e-04)
Best objective 6.760710000000e+06, best bound 6.760079669494e+06, gap 0.0093%
Gurobi status= 2

1

In [6]:
# modelo.variables()

In [7]:
# alocacoes = defaultdict(list)

# for v in modelo.variables():
#     val = v.value()
#     # if val != 0:
#     m = padrao.match(v.name)
#     consultor = m.group(2)
#     escola = m.group(1)
        
        # alocacoes[nome].append(escola)


# for nome, codigos in alocacoes.items():
#     print(f"{nome}: {codigos}")


def _result_handler(po_result):
    """
    Recebe o modelo e retorna um df com as seguintes colunas:
    nome_consultor, cod_escola, cep, lat, lon
    """
    padrao = re.compile(r"x_\((\d+),_'([^']+)'\)")

    consultores, escolas = [], []
    for v in po_result.variables():
        if v.value() != 0:
            m = padrao.match(v.name)
            escolas.append(m.group(1))
            consultores.append(m.group(2))
        
    return pd.DataFrame({"escola": escolas, "consultor": consultores})


df = _result_handler(modelo)
df

         escola          consultor
0      11000058       Ricardo_Melo
1      11000082  Reginaldo_Machado
2      11000104       José_Alencar
3      11000198       Ricardo_Melo
4      11000252       José_Alencar
...         ...                ...
37173  53084020  Reginaldo_Machado
37174  53084039  Reginaldo_Machado
37175  53084055  Reginaldo_Machado
37176  53085000  Reginaldo_Machado
37177  53086007  Reginaldo_Machado

[37178 rows x 2 columns]

In [12]:
df.set_index("escola")

                  consultor
escola
11000058       Ricardo_Melo
11000082  Reginaldo_Machado
11000104       José_Alencar
11000198       Ricardo_Melo
11000252       José_Alencar
...                     ...
53084020  Reginaldo_Machado
53084039  Reginaldo_Machado
53084055  Reginaldo_Machado
53085000  Reginaldo_Machado
53086007  Reginaldo_Machado

[37178 rows x 1 columns]

## Salvando o resultado

In [9]:
with open(nome_arquivo_resultado, "w", encoding="utf-8") as f:
    json.dump(alocacoes, f, ensure_ascii=False, indent=4)

NameError: name 'alocacoes' is not defined